body
{
	padding: 0;
	margin: 0;
}


/*Fontes */
@font-face 
{
	font-family: RalewaySemiBold;
	src: url(../fontes/Raleway-SemiBold.ttf);
}

@font-face 
{
	font-family: RalewayBold;
	src: url(../fontes/Raleway-Bold.ttf);
}

@font-face 
{
	font-family: RalewayRegular;
	src: url(../fontes/Raleway-Regular.ttf);
}

@font-face 
{
	font-family: RalewayItalic;
	src: url(../fontes/Raleway-Italic.ttf);
}
/*Fontes */


.recipiente
{
	width: 100%;
	max-width: 1366px;
	margin: auto;
}


/*Começo do menu*/

.topo
{
	width: 100%;
	min-height: 115px;
	background-color: #020031;
	line-height: 115px;
}

.logo
{
	margin-top: 18px;
	margin-left: 70px;
	float: left;
}

.menu
{
	float: right;
	margin: 0;
	padding: 0;
	margin-right: 70px;
}

.menu ul
{
	margin: 0;
	padding: 0;
}

.menu ul li
{
	display: inline;
	margin: 0;
	padding: 0;
}

.menu ul li:nth-child(-n+6) /* Selecionar os primeiros 6 elementos para aplicar padding right, que faz isso é o nth-child(-n+6) */
{
	margin-right: 43px;
}

.menu ul li a
{
	color: #FFF;
	font-family: RalewaySemiBold;
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.menu ul li:nth-child(2) a /* Selecionar apenas o elemento de número 2, no caso, "Quem Somos" */
{
	color: #49af67;
	padding-left: 15px;
	background-image: url(../imagens/seta-menu-ativo.png);
	background-repeat: no-repeat;
	cursor: default;
}

.menu-icone
{
	display: none;
	font-size: 24px;
	float: right;
	margin-right: 30px;
	margin-top: 40px;
}

.menu-icone a
{
	color: white;
}
/*Fim do menu*/


.fundo-banner
{
	background-image: url('../imagens/banner.png'), linear-gradient(#02012a, #02012a);
	background-repeat: no-repeat;
}


/*Começo do banner*/
.banner
{
	width: 100%;
	min-height: 620px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.banner h1
{
	font-family: RalewayBold;
	font-size: 70px;
	color: white;
	padding: 0;
	margin: 0;
	padding-top: 150px;
}

.banner h2
{
	font-family: RalewaySemiBold;
	font-size: 36px;
	color: #26ae4e;
	padding: 0;
	margin: 0;
	padding-top: 20px;
}

.banner-descricao
{
	margin: auto;
	width: 100%;
	max-width: 700px;
	font-family: RalewayRegular;
	line-height: 22px;
	font-size: 18px;
	color: white;
	padding-top: 50px;
}


.banner-informacao
{
	margin: auto;
	width: 100%;
	max-width: 900px;
	font-family: RalewayRegular;
	line-height: 28px;
	font-size: 18px;
	color: white;
	padding-top: 60px;
}

.banner-descricao-negrito
{
	margin: auto;
	width: 100%;
	max-width: 800px;
	font-family: RalewayBold;
	font-size: 22px;
	color: white;
	padding-top: 60px;
}

.banner-icone-texto
{
	margin: auto;
	width: 100%;
	max-width: 520px;
	height: auto;
	padding-top: 30px;
}

.banner-icone
{
	float: left;
}

.banner-texto
{
	float: right;
	width: 100%;
	max-width: 380px;
	height: auto;
	font-family: RalewaySemiBold;
	font-size: 22px;
	text-align: left;
	color: white;
	padding-top: 20px;
}

/*Fim do banner*/

.faixa
{
	background: #141244;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
}

b
{
	font-family: RalewayBold;
}

.botao_arredondado_verde
 {
    user-select: none;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #4cb06a;
    max-width: 340px;
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
}

.texto_projeto
{
	max-width: 970px;
	margin: auto;
}



.texto_projeto p
{
	color: white;
	font-family: RalewayRegular;
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
	line-height: 30px;
}



/*Mosaico 2*/

.mosaico_1
{
	padding-top: 30px;
}

.celula_primeira_mosaico_2
{
	width: 16%;
	height: 400px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_segunda_mosaico_2
{
	width: 100%;
	height: 200px;
	display: block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_terceira_mosaico_2
{
	width: 100%;
	height: 200px;
	display: block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_quarta_mosaico_2
{
	width: 16%;
	height: 400px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_quinta_mosaico_2
{
	width: 16%;
	height: 400px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_sexta_mosaico_2
{
	width: 27%;
	height: 250px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_setima_mosaico_2
{
	width: 20%;
	height: 250px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_oitava_mosaico_2
{
	width: 27%;
	height: 250px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}


.celula_total_mosaico_2
{
	width: 26%;
	height: 400px;
	display: inline-block;
}


.alinhamento_mosaico_2
{
	display: flex;
	justify-content: center;
}

/*Mosaico 2*/




.imagem-responsiva
{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}


.imagem-responsiva-mosaico
{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}



.alinhamento_fotos
{
	display: flex;
	justify-content: center;
}


.limpar_float
{
	clear: both;
}



/*Mosaico 1*/
.celula_primeira
{
	width: 35%;
	height: 300px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_segunda
{
	width: 20%;
	height: 250px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}


.celula_terceira
{
	width: 20%;
	height: 500px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.celula_quarta
{
	width: 17.5%;
	height: 200px;
	display: inline-block;
	margin-top: -200px;
	padding: 10px;
	box-sizing: border-box;
}

.celula_quinta
{
	width: 17.5%;
	height: 200px;
	display: inline-block;
	margin-top: -200px;
	padding: 10px;
	box-sizing: border-box;
}

.celula_sexta
{
	width: 20%;
	height: 250px;
	display: inline-block; 
	margin-top: -250px;
	padding: 10px;
	box-sizing: border-box;
}

.celula_setima
{
	width: 20%;
	height: 0px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}
/*Mosaico 1*/


.botao_saiba_mais
{
	display: block;
	width: 200px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: RalewayRegular;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border: 1px solid #49ae6c;
	margin: auto;
	border-radius: 10px;
}


.celula_botao
{
	float: left;
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 20px 0;
	box-sizing: border-box;
    padding-top: 60px;
    padding-right: 40px;
}

.celula_metade
{
	float: left;
	text-align: right;
	width: 50%;
	margin: auto;
	padding: 20px 0;
}


.celula_total_instituicao
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.celula_total
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.instituicao
{
	margin-top: 30px;
}




/*Começo do rodape*/
.rodape
{
	width: 100%;
	min-height: 996px;
	background-image: url("../imagens/textura.png"), linear-gradient(#02012a, #037a9a); /* W3C */
}

.rodape-escuro
{
	width: 100%;
	min-height: 75px;
	background-color: #100f39;
}

.contato-geral
{
	max-width: 860px;
	min-height: 300px;
	margin: auto;
	padding-top: 50px;
}

.contato-icone
{
	float: left;
	margin-left: 20px;
}

.contato-texto-icone
{
	float: left;
	margin-left: 170px;
	padding-top: 50px;
}

.contato-texto
{
	width: 100%;
	max-width: 400px;
	font-family: RalewayBold;
	font-size: 20px;
	color: white;
}

.contato-link
{
	display: block;
	width: 200px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: RalewayRegular;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border: 1px solid #4cb06a;
	border-radius: 10px;
	margin-top: 40px;
}

.divisoria
{
	margin: auto;
	width: 100%;
	max-width: 1190px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

.rodape-recipiente
{
	margin: auto;
	width: 100%;
	max-width: 1190px;
	height: auto;
	margin-top: 40px;
}

.rodape-parte-institucional
{
	float: left;
	width: 33.3%;
	min-height: 350px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 100px;
	font-family: RalewayRegular;
	font-size: 16px;
	line-height: 30px;
	color: white;
}

.rodape-parte-links
{
	float: left;
	width: 33.3%;
	min-height: 350px;
}

.rodape-parte-contato
{
	float: left;
	width: 33.4%;
	min-height: 350px;
}


.conheca-a-vf-link
{
	display: block;
	width: 200px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: RalewayRegular;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border: 1px solid #FFF;
	border-radius: 10px;
	margin-top: 40px;
}

.rodape-parte-links h3
{
	font-family: RalewayBold;
	font-size: 18px;
	color: #49ae6c;
	box-sizing: border-box;
	padding-left: 20px;
}

.rodape-parte-links ul
{
	font-family: RalewayItalic;
	font-size: 18px;
	color: #49ae6c;
	list-style: none;
	line-height: 50px;
	padding: 0;
	padding-left: 20px;
	padding-top: 25px;
}

.rodape-parte-links a
{
	font-family: RalewayItalic;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.rodape-parte-links table
{
	margin-top: 25px;
	margin-left: 20px;
}

.como-chegar-link
{
	display: block;
	width: 200px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: RalewayRegular;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border: 1px solid #FFF;
	border-radius: 10px;
	margin-top: 44px;
	margin-left: 20px;
}

.rodape-parte-contato h3
{
	font-family: RalewayBold;
	font-size: 18px;
	color: #49ae6c;
	box-sizing: border-box;
	padding-left: 20px;
}

.rodape-parte-contato p
{
	font-family: RalewayRegular;
	font-size: 18px;
	color: white;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 35px;
	line-height: 23px;
}

.rodape-escuro span
{
	float: left;
	padding-left: 20px;
	font-family: Verdana;
	color: white;
	font-size: 12px;
	padding-top: 30px;
}

.rodape-escuro a
{
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

/*Fim do rodape*/


@media screen and (max-width: 1280px) 
{
	/* diminuindo fonte do menu */
	.menu ul li a
	{
		font-size: 14px;
	}

	/* diminuindo espaçamento lateral esquerdo */
	.logo
	{
		margin-left: 30px;
	}

	/* diminuindo espaçamento lateral direito */
	.menu
	{
		margin-right: 30px;
	}

	/* diminuindo espaçamento entre os itens do menu */
	.menu ul li:nth-child(-n+6) /* Selecionar os primeiros 6 elementos para aplicar padding right, que faz isso é o nth-child(-n+6) */
	{
		margin-right: 35px;
	}
}

@media screen and (max-width: 1152px) 
{
	/* diminuindo fonte do menu */
	.menu ul li a
	{
		font-size: 12px;
	}

	.rodape
	{
		min-height: 714px;
	}

	.celula_primeira_mosaico_2
	{
		width: 20%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	

	.celula_quarta_mosaico_2
	{
		width: 20%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_quinta_mosaico_2
	{
		width: 20%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_sexta_mosaico_2
	{
		width: 30%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_setima_mosaico_2
	{
		width: 26%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_oitava_mosaico_2
	{
		width: 30%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}


	.celula_total_mosaico_2
	{
		width: 28%;
		height: 400px;
		display: inline-block;
	}

}

@media screen and (max-width: 1024px) 
{
	.menu
	{
		display: none;
		float: none;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-right: 70px;
		padding-top: 115px;
		padding-bottom: 30px;
	}

	.menu ul li
	{
		display: block;
		margin: 0;
		padding: 0;
	}

	.menu-icone
	{
		display: block;
	}

	.topo
	{
		line-height: 40px;
	}

	/* aumentando fonte do menu */
	.menu ul li a
	{
		font-size: 16px;
	}

	/* zerando esse item por ter sido atribuido no media 1280 */
	.menu ul li:nth-child(-n+6) /* Selecionar os primeiros 6 elementos para aplicar padding right, que faz isso é o nth-child(-n+6) */
	{
		margin-right: 0px;
	}

	.banner-icone-texto
	{
		width: 580px;
		box-sizing: border-box;
	}

	.botao_arredondado_verde 
	{
		max-width: 295px;
		font-size: 15px
	}


	.contato-texto-icone
	{
		margin-left: 90px;
		padding-top: 25px;
	}

	.contato-icone
	{
		width: 200px;
		height: 200px;
	}

	.contato-geral
	{
		max-width: 710px;
	}

	.rodape-parte-institucional
	{
		float: none;
		display: block;
		width: 100%;
		height: auto;
		min-height: 0;
		padding-right: 0;
		padding-left: 0;
		padding-top: 30px;
	}

	.rodape-parte-links
	{
		float: none;
		display: block;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.rodape-parte-contato
	{
		float: none;
		display: block;
		width: 100%;
		height: auto;
		padding-bottom: 50px;
	}

	.logo-rodape
	{
		display: block;
		margin: auto;
	}

	.rodape-parte-institucional p
	{
		text-align: justify;
		padding-left: 50px;
		padding-right: 50px;
	}

	.conheca-a-vf-link 
	{
	    display: block;
	    margin: auto;
	    margin-top: 40px;
	}

	.rodape-parte-links h3
	{
		display: block;
		text-align: center;
		margin-top: 80px;
		font-size: 24px;
		padding-left: 0;
	}

	.rodape-parte-links ul
	{
		display: block;
		margin: auto;
		padding-left: 0;
	}

	.rodape-parte-links table
	{
		display: block;
		margin: auto;
		width: 230px;
	}

	.rodape-parte-contato h3
	{
		display: block;
		text-align: center;
		margin-top: 80px;
		font-size: 24px;
		padding-left: 0;
	}

	.rodape-parte-contato p
	{
		text-align: center;
		padding-left: 0;
	}

	.como-chegar-link
	{
		margin: auto;
	}


	.celula_primeira
	{
	    width: 35%;
	    height: 212px;
	}

	.celula_segunda
	{
		width: 20%;
    	height: 186px;
	}

	.celula_terceira
	{
		width: 20%;
  	    height: 373px;
	}

	.celula_quarta
	{
		width: 17.5%;
    	height: 168px;
    	margin-top: -162px;
	}

	.celula_quinta
	{
		width: 17.5%;
    	height: 165px;
    	    margin-top: -161px;
	}

	.celula_sexta
	{
		width: 20%;
    	height: 181px;
     margin-top: -181px;
	}

}


@media screen and (max-width: 992px) 
{

	.celula_primeira
	{
		width: 41%;
	}

	.celula_segunda
	{
		width: 25%;
	}


	.celula_terceira
	{
		width: 24%;
	}

	.celula_quarta
	{
		width: 22.5%;
	}

	.celula_quinta
	{
		width: 20.5%;
	}

	.celula_sexta
	{
		width: 20.5%;
		margin-right: 40px;
	}

	.celula_primeira_mosaico_2
	{
		width: 23%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	

	.celula_quarta_mosaico_2
	{
		width: 22%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_quinta_mosaico_2
	{
		width: 22%;
		height: 400px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_sexta_mosaico_2
	{
		width: 32%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_setima_mosaico_2
	{
		width: 29%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}

	.celula_oitava_mosaico_2
	{
		width: 36%;
		height: 250px;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}


	.celula_total_mosaico_2
	{
		width: 30%;
		height: 400px;
		display: inline-block;
	}


}

@media screen and (max-width: 768px) 
{

	.banner 
	{
   	    min-height: 545px;
	}

	.banner  h1
	{
		font-size: 37px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 150px;
	}

	.banner h2
	{
		font-size: 24px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 20px;
	}

	.banner-descricao
	{
		font-size: 16px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 20px;
	}


	.banner-descricao-negrito
	{
		font-size: 17px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 40px;
	}


	.texto_projeto p
	{
		font-size: 16px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 40px;
	}	


	.banner-informacao
	{
		font-size: 16px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		padding-top: 40px;

	}


	.contato-icone
	{
		float: none;
		display: block;
		margin: auto;
	}

	.contato-texto-icone
	{
		float: none;
		display: block;
		margin: auto;
		text-align: center;
		padding-top: 0;
	}

	.contato-texto
	{
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		padding: 50px;
	}

	.contato-link
	{
		margin: auto;
	}

	.divisoria
	{
		padding-top: 30px;
	}

	
	.botao_arredondado_verde 
	{
		font-size: 14px
	}

	.imagem-responsiva
	{
		width: 100px;
	}


	.celula_primeira 
	{
   		 width: 44%;
	}

	.celula_segunda 
	{
   		 width: 25%;
	}

	.celula_terceira 
	{
	 	width: 28%;
		height: none; 
	}

	.celula_quarta 
	{
   		 width: 24.5%;
	}

	.celula_quinta 
	{
    	width: 21.5%;
	}

	.celula_sexta 
	{
    	width: 23.5%;
   		 margin-right: 40px;
	}

	.celula_primeira_mosaico_2
	{
		width: 23%;
   		height: 322px;
	}


	.celula_segunda_mosaico_2
	{
		width: 100%;
    	height: 155px;
	}

	.celula_terceira_mosaico_2
	{
		width: 100%;
   		height: 155px;
	}

	.celula_quarta_mosaico_2
	{
		width: 22%;
    	height: 310px;
	}

	.celula_quinta_mosaico_2
	{
		width: 22%;
    	height: 300px;
	}

	.celula_sexta_mosaico_2
	{
		width: 32%;
    	height: 250px;
	}

	.celula_setima_mosaico_2
	{
		width: 29%;
   		height: 250px;
	}

	.celula_oitava_mosaico_2
	{
		width: 36%;
    	height: 250px;
	}

	.celula_total_mosaico_2
	{
		width: 30%;
    	height: 310px;
	}


	.celula_botao 
	{
	    padding-right: 0px;
	}


}

@media screen and (max-width: 600px) 
{
	.rodape-escuro
	{
		text-align: center;
	}

	.rodape-escuro span
	{
		float: none;
		display: block;
		padding-right: 20px;
	}

	.rodape-escuro a
	{
		float: none;
		display: block;
		padding-bottom: 20px;
		padding-right: 0;
	}


	.banner-icone
	{
		float: none;
		display: block;
		width: 100px;
		margin: auto;
	}


	.banner-icone-texto
	{
		padding-top: 20px;
	}

	.banner-icone-texto
	{
		width: 100%;
	}
	

	.botao_arredondado_verde
	{
		max-width: none;
		width: 300px;
   		margin: auto;
   		margin-top: 20px;
	}


	.banner  h1 
	{
    	padding-top: 90px;
	}

	.celula_metade
	{
		float: none;
		text-align: center;
		display: block;
		width: 100%;
	}

	.celula_botao
	{
		float: none;
		text-align: center;
		display: block;
		width: 100%;
	}

	.celula_primeira 
	{
   		width: 100%;
    	height: auto;
	}

	.celula_segunda 
	{
   		width: 100%;
    	height: auto;
   		display: block;
	}

	.celula_terceira 
	{
	 	width: 100%;
	}

	.celula_quarta 
	{
   		width: 100%;
   		height: auto;
   	    margin-top: 11px;	
   	}

	.celula_quinta 
	{
		width: 100%;
		height: auto;
    	margin-top: 11px;
	}

	.celula_sexta 
	{
    	width: 100%;
    	height: auto;
    	margin-right: 0;
    	margin-top: 10px;
	}

	.celula_setima
	{
		display: none;
	}


	.alinhamento_fotos 
	{
     	display: block; 
	}


	.imagem-responsiva-mosaico 
	{
	    height: auto;
	    width: 50%;
	}

	.mosaico_1
	{
		text-align: center;
		margin: auto;
		padding-top: 50px;
	}


	.celula_primeira_mosaico_2
	{
		width: 100%;
   		height: auto;
	}


	.celula_segunda_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.celula_terceira_mosaico_2
	{
		width: 100%;
   		height: auto;
	}

	.celula_quarta_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.celula_quinta_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.celula_sexta_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.celula_setima_mosaico_2
	{
		width: 100%;
   		height: auto;
	}

	.celula_oitava_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.celula_total_mosaico_2
	{
		width: 100%;
    	height: auto;
	}

	.alinhamento_mosaico_2
	{
		display: block;
	}

	.mosaico_2
	{
		text-align: center;
		margin: auto;
	}

}

@media screen and (max-width: 414px) 
{

	.banner  h1
	{
		 padding-top: 80px;
	}


	.celula_primeira 
	{
   		width: 100%;
    	height: auto;
    	display: block;
	}

	.celula_segunda 
	{
   		 width: 100%;
    	height: auto;
   		display: block;
	}

	.celula_terceira 
	{
	 	width: 100%;
	}

	.celula_quarta 
	{
   		width: 100%;
		margin-top: 7px;	
   	}

	.celula_quinta 
	{
		width: 100%;
		margin-top: 20px;
	}

	.celula_sexta 
	{
    	width: 100%;
    	height: auto;
    	margin-right: 0;
    	margin-top: 14px;
	}

	.celula_setima
	{
		display: none;
	}


	.alinhamento_fotos 
	{
     	display: block; 
	}

}

@media screen and (max-width: 375px) 
{
	
	

	.botao_arredondado_verde
	{
		width: 200px;
   		margin: auto;
   		margin-top: 10px;
	}
}

@media screen and (max-width: 360px) 
{
	

}

@media screen and (max-width: 320px) 
{
	.banner-icone-texto
	{
		width: 320px;
	}

	.banner-texto
	{
		width: 140px;
		font-size: 12px;
	}

	.banner  h1 
	{
		font-size: 33px;
	}


	.imagem-responsiva 
	{
    	width: 90px;
	}
}


@media screen and (max-width: 280px) 
{
	.banner  h1 
	{
	    font-size: 26px;
	    margin-top: 0;
	    box-sizing: border-box;
	}

	.banner h2 
	{
	    font-size: 20px;
	    box-sizing: border-box;
	}

	.banner-descricao 
	{
	    font-size: 14px;
	    box-sizing: border-box;
	}

	.banner-descricao 
	{
	    font-size: 14px;
	    box-sizing: border-box;
	}

	.banner-descricao-negrito 
	{
	    font-size: 16px;
	    box-sizing: border-box;
	}


	.texto_projeto p 
	{
	    font-size: 14px;
	}

	.banner-informacao 
	{
   		 width: 344px;
	}


	.logo
	{
		width: 150px;
	}

}

